In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, LogisticRegression, Lasso, Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
import math
import pickle

In [31]:
#reading data
dtrain = pd.read_csv("..\input\\abnyc_train.csv")
dtest = pd.read_csv("..\input\\abnyc_test.csv")
dval = pd.read_csv("..\input\\abnyc_validation.csv")

In [32]:
dtrain.head()

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,ng_Brooklyn,ng_Manhattan,ng_Queens,ng_Staten Island,rt_Private room,rt_Shared room
0,60,2,34,1.00,2,181,1,0,0,0,1,0
1,130,3,1,0.16,1,0,1,0,0,0,0,0
2,130,1,59,1.00,1,0,0,1,0,0,1,0
3,80,3,69,1.70,1,3,0,1,0,0,1,0
4,53,5,1,0.11,1,11,1,0,0,0,1,0

**With all Features**

In [33]:
#defining input and target variables
y_train = dtrain['price']
dtrain = dtrain.drop(['price','number_of_reviews','reviews_per_month','calculated_host_listings_count'],axis=1)
x_train = dtrain

In [34]:
y_test = dtest['price']
dtest = dtest.drop(['price','number_of_reviews','reviews_per_month','calculated_host_listings_count'],axis=1)
x_test = dtest

In [35]:
y_val = dval['price']
dval = dval.drop(['price','number_of_reviews','reviews_per_month','calculated_host_listings_count'],axis=1)
x_val = dval

In [36]:
x_train

,minimum_nights,availability_365,ng_Brooklyn,ng_Manhattan,ng_Queens,ng_Staten Island,rt_Private room,rt_Shared room
0,2,181,1,0,0,0,1,0
1,3,0,1,0,0,0,0,0
2,1,0,0,1,0,0,1,0
3,3,3,0,1,0,0,1,0
4,5,11,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...
34221,7,0,0,1,0,0,0,0
34222,4,126,1,0,0,0,0,0
34223,6,202,1,0,0,0,0,0
34224,2,1,0,0,1,0,1,0
34225,14,0,1,0,0,0,1,0

In [37]:
#linear regression
reg=LinearRegression()
reg.fit(x_train,y_train)
y_pred=reg.predict(x_val)
from sklearn.metrics import r2_score
r2_score(y_val,y_pred)

0.12728502059987057

In [38]:
reg1 = LinearRegression().fit(x_train, y_train)

In [39]:
reg1.score(x_train, y_train)

0.07784062706643713

In [40]:
reg1.coef_

array([   0.14218679,    0.16081105,   32.07209347,   87.01463182,
         11.43456767,   10.34486711, -109.14151603, -141.05805558])

In [41]:
#logistic
LRG = LogisticRegression().fit(x_train, y_train)
#random_state = 0,solver = 'liblinear',multi class = 'auto'
#LRG.score(X, y)
y_pred2 = LRG.predict(x_val)

C:\Users\Eshan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [42]:
r2_score(y_val, y_pred2)

-0.013002604610072188

In [43]:
#lasso
lmodel = Lasso(alpha=1.0)
lmodel.fit(x_train, y_train)

Lasso()

In [44]:
lmodel.score(x_train, y_train)

0.07655355637453176

In [45]:
#random forest
regRM = RandomForestRegressor(n_estimators=300)
regRM.fit(x_train, y_train)

RandomForestRegressor(n_estimators=300)

In [46]:
print(regRM.score(x_train, y_train))
y_predL1= regRM.predict(x_val)
print(np.sqrt(mean_squared_error(y_val,y_predL1)))

0.3627445976580814
212.66560526448174

In [47]:
#ridge
rdg = Ridge(alpha = 0.5)
rdg.fit(x_train, y_train)
rdg.score(x_train,y_train)

0.07784062099628286

In [48]:
#decision tree regression
dtr = DecisionTreeRegressor(min_samples_leaf=.001)
dtr.fit(x_train,y_train)
y_predict=dtr.predict(x_val)
r2_score(y_test,y_predict)

0.15873997949165042

In [49]:
#K cross validation