In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
import math
import pickle

In [13]:
#reading data
dtrain = pd.read_csv("..\input\\abnyc_train.csv")
dtest = pd.read_csv("..\input\\abnyc_test.csv")
dval = pd.read_csv("..\input\\abnyc_validation.csv")

In [14]:
dtrain.head()

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,ng_Brooklyn,ng_Manhattan,ng_Queens,ng_Staten Island,rt_Private room,rt_Shared room
0,60,2,34,1.00,2,181,1,0,0,0,1,0
1,130,3,1,0.16,1,0,1,0,0,0,0,0
2,130,1,59,1.00,1,0,0,1,0,0,1,0
3,80,3,69,1.70,1,3,0,1,0,0,1,0
4,53,5,1,0.11,1,11,1,0,0,0,1,0

**With all Features**

In [15]:
#defining input and target variables
y_train = dtrain['price']
dtrain = dtrain.drop(['price'],axis=1)
x_train = dtrain

In [16]:
y_test = dtest['price']
dtest = dtest.drop(['price'],axis=1)
x_test = dtest

In [17]:
y_val = dval['price']
dval = dval.drop(['price'],axis=1)
x_val = dval

In [18]:
x_train

,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,ng_Brooklyn,ng_Manhattan,ng_Queens,ng_Staten Island,rt_Private room,rt_Shared room
0,2,34,1.000000,2,181,1,0,0,0,1,0
1,3,1,0.160000,1,0,1,0,0,0,0,0
2,1,59,1.000000,1,0,0,1,0,0,1,0
3,3,69,1.700000,1,3,0,1,0,0,1,0
4,5,1,0.110000,1,11,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
34221,7,2,0.120000,2,0,0,1,0,0,0,0
34222,4,8,2.290000,1,126,1,0,0,0,0,0
34223,6,2,0.110000,1,202,1,0,0,0,0,0
34224,2,0,1.373221,1,1,0,0,1,0,1,0
34225,14,9,0.090000,2,0,1,0,0,0,1,0

In [38]:
#linear regression
reg=LinearRegression()
reg.fit(x_train,y_train)
y_pred=reg.predict(x_val)
from sklearn.metrics import r2_score
r2_score(y_val,y_pred)

0.13036247648744193

In [39]:
reg1 = LinearRegression().fit(x_train, y_train)

In [40]:
reg1.score(x_train, y_train)

0.08114061398668904

In [41]:
reg1.coef_

array([ 9.68732828e-02, -3.75994408e-01,  3.11071924e+00, -1.02837100e-01,
        1.84243010e-01,  3.45453321e+01,  8.90433932e+01,  1.27272155e+01,
        1.19852048e+01, -1.10118828e+02, -1.45914365e+02])

In [36]:
#logistic
LRG = LogisticRegression().fit(x_train, y_train)
#random_state = 0,solver = 'liblinear',multi class = 'auto'
#LRG.score(X, y)
y_pred2 = LRG.predict(x_val)

In [46]:
r2_score(y_val, y_pred2)

0.07062343407641913

In [21]:
#lasso

In [ ]:
#ridge

In [30]:
#decision tree regression
dtr = DecisionTreeRegressor(min_samples_leaf=.001)
dtr.fit(x_train,y_train)
y_predict=dtr.predict(x_val)
r2_score(y_test,y_predict)

0.12446710551975904

**With xyz Features**